<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Article</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <section class="container mx-auto py-16">
    <div class="text-center mb-8">
      <h2 class="text-3xl text-gray-800 font-bold mb-4">Where's your next adventure?</h2>
      <p class="text-lg text-gray-600">Enter your dream destination here and let's make it a reality!</p>
    </div>

    <div class="mx-auto max-w-lg">
      <form id="locationForm" class="mx-auto mb-8" action="/tourism" method="get">
        <input id="locationInput" type="text" class="form-input block w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500" name="location" placeholder="My Destination" onfocus="this.placeholder = ''" onblur="this.placeholder = 'My Destination'">
        <div class="flex justify-center mt-2">
          <button type="submit" name="submit" onclick="updateLocation()" class="btn-primary text-white px-4 py-2 rounded-md focus:outline-none focus:bg-blue-600 bg-blue-500">Go!</button>
        </div>
      </form>
    </div>

    <div id="articleContainer" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"></div>
  </section>

  <script>
    function updateLocation() {
      var locationValue = document.getElementById("locationInput").value;
      var formAction = "/tourism?location=" + encodeURIComponent(locationValue);
      document.getElementById("locationForm").action = formAction;
    }
  </script>
</body>
</html>
