<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="tm-blog-img-container bg-cover bg-center">
    
    </div>
    
    <section class="tm-section py-20">
        <div class="container mx-auto">
            <div class="flex flex-wrap">
    
                <div class="w-full md:w-8/12 lg:w-9/12 xl:w-9/12">
                    <div class="tm-blog-post">
                        <h3 class="tm-gold-text text-3xl font-semibold mb-6">Pellentesque fermentum mauris</h3>
                        <p>Vivamus accumsan blandit ligula. Sed lobortis efficitur sapien</p>
                        <img src="img/tm-img-1010x336-1.jpg" alt="Image" class="img-fluid tm-img-post mt-6 mb-8">
                        
                        <p>You can help templatemo by telling your friends about our HTML CSS templates. Praesent velit ante, congue ac dignissim in, vehicula sit amet urna. Fusce in dapibus quam, eget finibus velit. Nullam erat odio, vulputate id est ut, consequat rutrum justo. Vivamus vel leo vel nunc tincidunt mattis. Sed neque diam, semper suscipit dictum a, sodales ac metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    
                        <p>Morbi vel pharetra massa, non iaculis tortor. Nulla porttitor tincidunt felis et feugiat. Vivamus fermentum ligula justo, sit amet blandit nisl volutpat id. Fusce sagittis ultricies felis, non luctus mauris lacinia quis. Ut fringilla lacus ac tempor ullamcorper. Mauris iaculis placerat ex et mattis.</p>
    
                        <p>Quisque vel sem eu turpis ullamcorper euismod. Praesent quis nisi ac augue luctus viverra. Sed et dui nisi. Fusce vitae dapibus justo. Pellentesque accumsan est ac posuere imperdiet. Curabitur eros mi, lacinia at euismod quis, dapibus vel ligula. Ut sodales erat vitae nunc tempor mollis. Donec tempor lobortis tortor, in feugiat massa facilisis sed. Ut dignissim viverra pretium. In eu justo maximus turpis feugiat finibus scelerisque nec eros. Cras nec lectus tempor nibh vestibulum eleifend et ac elit.</p>
    
                        <p>Sed vitae luctus libero. Nam sem neque, finibus id sem pharetra, cursus porttitor ligula. Praesent aliquam fermentum dui, vitae venenatis libero vulputate ac. Fusce bibendum scelerisque magna eget iaculis. Phasellus non arcu eu sem convallis semper. Duis vulputate dignissim rhoncus.</p>
                    </div>
                    
                    <div class="flex flex-wrap mt-8">
                        <div class="w-full md:w-4/12 lg:w-4/12 xl:w-4/12">
    
                            <div class="tm-content-box">
                                <img src="img/tm-img-310x180-1.jpg" alt="Image" class="tm-margin-b-30 img-fluid">
                                <h4 class="tm-margin-b-4 tm-gold-text text-xl font-semibold">Lorem ipsum dolor #1</h4>
                                <p class="tm-margin-b-6">Aenean cursus tellus mauris, quis consequat mauris dapibus id. Donec scelerisque porttitor pharetra</p>
                                <a href="#" class="tm-btn text-uppercase">Detail</a>    
                            </div>  
    
                        </div>
    
                        <div class="w-full md:w-4/12 lg:w-4/12 xl:w-4/12">
    
                            <div class="tm-content-box">
                                <img src="img/tm-img-310x180-2.jpg" alt="Image" class="tm-margin-b-30 img-fluid">
                                <h4 class="tm-margin-b-4 tm-gold-text text-xl font-semibold">Lorem ipsum dolor #2</h4>
                                <p class="tm-margin-b-6">Aenean cursus tellus mauris, quis consequat mauris dapibus id. Donec scelerisque porttitor pharetra</p>
                                <a href="#" class="tm-btn text-uppercase">Read More</a>    
                            </div>  
    
                        </div>
    
                        <div class="w-full md:w-4/12 lg:w-4/12 xl:w-4/12">
    
                            <div class="tm-content-box">
                                <img src="img/tm-img-310x180-3.jpg" alt="Image" class="tm-margin-b-30 img-fluid">
                                <h4 class="tm-margin-b-4 tm-gold-text text-xl font-semibold">Lorem ipsum dolor #3</h4>
                                <p class="tm-margin-b-6">Aenean cursus tellus mauris, quis consequat mauris dapibus id. Donec scelerisque porttitor pharetra</p>
                                <a href="#" class="tm-btn text-uppercase">Detail</a>    
                            </div>  
    
                        </div>    
                    </div>
                    
                </div>
    
                <aside class="w-full md:w-4/12 lg:w-3/12 xl:w-3/12 tm-aside-r md:pl-8 mt-8 md:mt-0">
    
                    <div class="tm-content-box mb-6">
                        <h2 class="tm-gold-text tm-title-2">Related Posts</h2>
                        <div class="tm-aside-container">
                            <a href="#" class="tm-aside-link">Lorem ipsum dolor sit</a>
                            <a href="#" class="tm-aside-link">Aenean cursus tellus</a>
                            <a href="#" class="tm-aside-link">Mauris porta ipsum</a>
                            <a href="#" class="tm-aside-link">Finibus ac justo vitae</a>
                            <a href="#" class="tm-aside-link">Nunc pellentesque</a>
                            <a href="#" class="tm-aside-link">Etiam justo nunc</a>
                            <a href="#" class="tm-aside-link">Ras ultricies</a>
                            <a href="#" class="tm-aside-link">Sed eu semper</a>
                        </div>                    
                    </div>
    
                    <div class="tm-content-box mb-6">
                        <h2 class="tm-gold-text tm-title-2">Popular Tags</h2>
                        <div class="tm-aside-container">
                            <a href="#" class="tm-tag">Travel</a>
                            <a href="#" class="tm-tag">Design</a>
                            <a href="#" class="tm-tag">Technology</a>
                            <a href="#" class="tm-tag">Fashion</a>
                            <a href="#" class="tm-tag">Food</a>
                            <a href="#" class="tm-tag">Architecture</a>
                            <a href="#" class="tm-tag">Adventure</a>
                            <a href="#" class="tm-tag">Life Style</a>
                            <a href="#" class="tm-tag">Sport</a>
                        </div>                    
                    </div>
    
                    <div class="tm-content-box">
                        <h2 class="tm-gold-text tm-title-2">Categories</h2>
                        <div class="tm-aside-container">
                            <a href="#" class="tm-aside-link">Web Design</a>
                            <a href="#" class="tm-aside-link">Branding</a>
                            <a href="#" class="tm-aside-link">Photography</a>
                            <a href="#" class="tm-aside-link">Illustration</a>
                            <a href="#" class="tm-aside-link">Mobile App</a>
                            <a href="#" class="tm-aside-link">Management</a>
                        </div>                    
                    </div>
                    
                </aside>
            </div>
        </div>
    </section>
    
    <footer class="tm-bg-gray pt-5 pb-3 tm-text-gray">
        <div class="container mx-auto">
            
        </div>
    </footer>
    
    
</body>
</html>